.banner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  // background-color: red;
}

.text-position {
  position: absolute;
  top: 70px;
  left: 60px;
  font-family: "Calibri-Bold", sans-serif;
  font-size: clamp(2.5rem, 3.5vw, 2.8rem);
  letter-spacing: 1px;
  animation: appearButtons 3s ease forwards;
}
.arrow-position {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 15px;
  cursor: pointer;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  background-color: white;
  border: solid 2px black;
  animation: appearButtons 3s ease forwards;
  box-shadow: none;
}
.hover-effect:hover {
  // box-shadow: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.filter-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 15px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: none;
  // padding: 7px 5px;
  cursor: pointer;
  background-color: #595959;
  box-shadow: none !important;
}

.svg-filter {
  // background-color: red;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: #595959;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.filter-dropdown {
  z-index: 2;
  // background-color: red;
}
.filter-dropdown a {
  color: black;
  // text-align: center;
  font-family: "Calibri-Bold", sans-serif;
  font-size: 18px;
  white-space: nowrap; /* Prevent line breaks */
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 108px;
  // height: 100vh;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 42px 20px 42px;
  background-color: white;
  box-shadow: 2px 2px 2px 1.47px rgba(89, 89, 89, 0.33);
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  box-shadow: none;
  border-radius: none;
  // background-color: yellow;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  max-width: 134px;
  min-width: 125px;
  width: 100%;
  background-color: white;
  border-radius: 50%;
  margin-right: 12px;
  max-height: 134px;
  min-height: 125px;
  height: 100%;
  margin-left: -45px;
  box-shadow: 2px 2px 2px 1.47px rgba(89, 89, 89, 0.33);
  margin-bottom: 20px;
}
.card-content {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap; /* Allow items to wrap onto the next line if necessary */
  justify-content: flex-start;
  align-items: center;
  position: relative;
  // background-color: yellow;
  padding-left: 0;
  min-width: 80%;
  width: 100%;
  height: 120px;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 1.47px rgba(89, 89, 89, 0.33);
}
.table-container {
  min-width: 515px;
  max-width: 520px;
  width: 100%; /* Take up the available space */
  // background-color: pink;
  margin-right: 1.5rem;
}
td {
  font-family: "Calibri-Regular", sans-serif;
  font-size: clamp(1.2rem, 3.5vw, 1.2rem);
  font-weight: 600;
}
td:after {
  content: "\00a0"; /* Unicode for a non-breaking space */
}
tbody tr td:nth-child(3) {
  padding-left: 3rem;
  margin-top: 2px;
  // background-color: yellow;
}
tbody tr td:nth-child(4) {
  color: #548235;
  // background-color: yellow;
}
tbody tr td:nth-child(5) {
  padding-left: 3rem;
}
tbody tr td:nth-child(5),
tbody tr td:nth-child(5) + td {
  position: relative;
  top: -3px;

  // background-color: yellow;
}

.info {
  display: flex;
  flex-direction: column;
  // margin-top: -50px;
  min-width: 180px;

  width: 100%;
  // width: 100%;
  // background-color: red;
  margin-right: 1.5rem;
}

.info-label {
  font-family: "Calibri-bold", sans-serif;
  font-size: clamp(0.8rem, 4.5vw, 1.8rem);

  word-wrap: nowwrap;
}

.info-value {
  font-family: "Calibri-Regular", sans-serif;
  font-weight: 600;
  margin-top: 4px;
}
.show-image {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.link-section {
  position: relative;
  display: flex;
  // background-color: aqua;

  min-width: 190px;
  width: 100%; /* Take up the available space */
  min-height: 120px;
}
.link-section tbody td:nth-child(odd),
.link-section tbody td:nth-child(even) {
  font-family: "Calibri-bold", sans-serif;
  font-size: clamp(1rem, 4.5vw, 1.8rem);
  word-wrap: normal;
  // background-color: yellow;

  //  color: red;
}

.svg-holder {
  margin-left: 32px;
  font-family: "Calibri-bold", sans-serif;
  font-size: 1.5rem;
}
@media screen and (max-width: 1105px) {
  .grid {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 20px;
    overflow-x: auto;
    // background-color: green;
  }

  .circle {
    margin-right: 5px;
    min-height: 100px;
    max-width: 100px;
    margin-left: 5px;
  }
  .card-content {
    width: 105rem;
    height: 120px;
  }

  tbody tr td:nth-child(3) {
    padding-left: 1rem;
    margin-top: 0px;
    // background-color: yellow;
  }
  tbody tr td:nth-child(5) {
    padding-left: 1rem;
  }

  .info {
    // background-color: orange;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1105px) {
}
@media screen and (min-width: 1185px) {
  .table-container {
    margin-right: 3rem;
    min-width: 520px;
    max-width: 540px;
    // background-color: blue;
  }
  .info {
    margin-right: 4rem;
  }
  .link-section {
    justify-content: center;
  }
}
