.banner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100hv;
  // background-color: red;
}

.text-position {
  position: absolute;
  top: 70px;
  left: 60px;
  font-family: "Calibri-Bold", sans-serif;
  font-size: clamp(2.5rem, 3.5vw, 2.8rem);
  letter-spacing: 1px;
  animation: appearButtons 3s ease forwards;
}
.arrow-position {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 15px;
  cursor: pointer;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  background-color: white;
  border: solid 2px black;
  animation: appearButtons 3s ease forwards;
  box-shadow: none;
}
.hover-effect:hover {
  // box-shadow: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.filter-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 20px;
  right: 15px;
  height: 52px;
  width: 52px;

  border-radius: 50%;
  border: none;
  padding: 7px 5px;
  cursor: pointer;
  background-color: #595959;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  animation: appearButtons 3s ease forwards;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 108px;
  height: 100vh;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr; /* One column that takes up the available space */
  padding: 20px 42px 20px 42px;
  background-color: white;
  box-shadow: 2px 2px 2px 1.47px rgba(89, 89, 89, 0.33);
  width: 95%;
  margin-bottom: 28px;
  overflow: hidden;

}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  margin-left: -42px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 1.47px rgba(89, 89, 89, 0.33);

  //   margin-bottom: 25px;
}

.card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to wrap onto the next line if necessary */
  justify-content: flex-start;
  background-color: white;

}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.info-label {
  font-weight: bold;
}

.info-value {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .grid {
    // grid-template-columns: 1fr;
    // // height: 150px;
    // border-radius: 2.5rem;
    // padding: 20px 42px 20px 42px;
    // margin-left: 25px;
    // margin-right: 25px;
    display: grid;
    width: 100%;
    // row-gap: 2rem;
    margin-bottom: 5px;
    box-shadow: none;
    border-radius: none;
    background-color: white;
  }
  .card-content {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap; /* Allow items to wrap onto the next line if necessary */
    // justify-content: flex-start;
    // background-color: aqua;
    // padding: 20px 42px 20px 45px;
    // border-radius: 2.5rem;
    // box-shadow: 2px 2px 2px 1.47px rgba(89, 89, 89, 0.33);
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100px;
    border-radius: 2.5rem;
    box-shadow: 2px 2px 2px 1.47px rgba(89, 89, 89, 0.33);
  
  }
  .circle {
    margin-top: -24px;
    width: 117px;
    height: 117px;
    margin-left: -28px;
  }
}
