.banner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  // bottom: 50px;
  //  background-color: yellow;
}

.arrow-position {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 15px;
  cursor: pointer;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  background-color: white;
  border: solid 2px black;
  animation: appearButtons 3s ease forwards;
  box-shadow: none;
}

.hover-effect:hover {
  // box-shadow: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.banner-button {
  background-color: white;
  margin-top: 120px;
  height: 75px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  border: 2px solid;
  border-radius: 50px;
  //   padding: 1.5rem;
  margin-bottom: 4rem;

  box-shadow: none;
  font-family: "Calibri-Bold", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: clamp(2.4rem, 3.5vw, 2.9rem);
  white-space: normal; /* Allow text to wrap */
  overflow: hidden;
  pointer-events: none;
  animation: appearButtons 3s ease forwards;
}
span {
  text-align: center;
  padding-left: 3.5px;
}

@keyframes appearButtons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// mat-accordion {
//   background-color: green;
// }
.expansion-panel {
  height: 100vh;
  // margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  // padding-bottom: 25px;
  // background-color: yellow;
}

mat-expansion-panel {
  box-shadow: none !important; // Remove box shadow
  background-color: white;
//  padding-bottom: 0!important;

  // height: 8rem;
  // height: 6rem;
}
mat-expansion-panel-header {
  border-radius: 0;
  // background-color: red;
  height: auto;
  border-top: 1px solid black; // Top border color
  // border-bottom: 1px solid red; // Bottom border color
  box-shadow: none;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
mat-panel-title {
  font-family: "Calibri-Regular", sans-serif;
  font-size: clamp(2.2rem, 3.5vw, 2.5rem);
  text-wrap: normal;
  line-height: 1;
}
p {
  font-family: "Calibri-Regular", sans-serif;
  font-size: clamp(1.5rem, 3.5vw, 1.8rem);
}
.last-child {
  border-radius: 0;
  border-bottom: 1px solid black; // Top border color
}
@media screen and (max-width: 768px) {
  // .banner-container {
  //   // bottom: 50px;
  //   height: 30vh;
  //   // background-color: yellow;
  // }

  .banner-button {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
