<div class="banner-container">
  <div>
    <button
      mat-fab
      class="arrow-position hover-effect"
      (click)="onPreviousPage()"
    >
      <!-- <mat-icon  class="large-icon">arrow_back</mat-icon> -->
      <svg
        fill="none"
        height="30"
        viewBox="0 0 22 22"
        width="30"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g transform="translate(-1,0)">
          <path
            clip-rule="evenodd"
            d="M8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289C10.0976 5.68342 10.0976 6.31658 9.70711 
6.70711L5.41421 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H5.41421L9.70711 17.2929C10.0976 17.6834 10.0976 18.3166
 9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071L2.29289 12.7071L1.58578 12L2.29289 11.2929L8.29289 5.29289Z"
            fill="#222222"
            fill-rule="evenodd"
          />
        </g>
      </svg>
    </button>
  </div>
  <!-- <div class="text-position"><span>FREQUENTLY ASKED QUESTIONS </span></div> -->
  <button class="banner-button"><span>FREQUENTLY ASKED QUESTIONS</span></button>
</div>
<div class="expansion-panel">
  <mat-accordion>
    <mat-expansion-panel
      hideToggle [disabled]="true"
      #accordionPanel1
      (mouseover)="onAccordionHover(accordionPanel1, true)"
    
      (click)="$event.stopPropagation()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          What plan should I choose if I am only beginning an Amazon store?
        </mat-panel-title>

        <!-- <mat-panel-description> Description for Item 1 </mat-panel-description> -->
      </mat-expansion-panel-header>
      <!-- Content for Item 1 -->
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eum
        aspernatur quasi ratione velit ipsa exercitationem eligendi, enim
        temporibus consectetur dolor ex sint excepturi, porro est nulla fugit
        vero neque! Ab, error et aliquam molestias, debitis odit non
        perspiciatis eveniet officiis excepturi exercitationem libero earum illo
        natus a, ea cum.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel
      hideToggle [disabled]="true"
      #accordionPanel2
      (mouseover)="onAccordionHover(accordionPanel2, true)"

    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          How can your product database benefit my business?
        </mat-panel-title>
        <!-- <mat-panel-description> Description for Item 2 </mat-panel-description> -->
      </mat-expansion-panel-header>
      <!-- Content for Item 2 -->
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
        fugiat illum qui, ipsum quae fugit voluptates quo modi natus iusto neque
        dicta eos earum aliquam molestias maiores repellat a itaque ab eius
        doloremque fuga quidem veritatis. Provident dolore similique nostrum
        commodi, non ratione voluptates possimus totam ipsam sunt delectus
        labore.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel
      hideToggle [disabled]="true"
      #accordionPanel3 
      (mouseover)="onAccordionHover(accordionPanel3, true)"

    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          What types of leads are included in your product database?
        </mat-panel-title>
        <!-- <mat-panel-description> Description for Item 2 </mat-panel-description> -->
      </mat-expansion-panel-header>
      <!-- Content for Item 2 -->
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa quas
        aperiam quam distinctio beatae quaerat facilis nisi veniam expedita fuga
        quae ratione accusamus laudantium pariatur, nesciunt repellat sapiente
        minima, officiis cupiditate libero enim accusantium quis. Fuga
        perspiciatis totam quis similique quos dicta rem cumque, dolore,
        voluptatum nostrum, aliquam dolorum quasi!
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel class="last-child"
      hideToggle [disabled]="true"
      #accordionPanel4
      (mouseover)="onAccordionHover(accordionPanel4, true)"
   
    >
      <mat-expansion-panel-header >
        <mat-panel-title>
          What do I need to sign up and use your service?
        </mat-panel-title>
        <!-- <mat-panel-description> Description for Item 2 </mat-panel-description> -->
      </mat-expansion-panel-header>
      <!-- Content for Item 2 -->
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti culpa
        neque, debitis omnis delectus nesciunt recusandae dignissimos velit sunt
        quasi a perspiciatis voluptatum aliquam architecto autem vitae? Beatae
        neque maiores possimus explicabo, fuga, soluta doloribus adipisci,
        exercitationem dicta debitis quasi consequatur? Excepturi velit incidunt
        optio temporibus, unde doloribus enim magni?
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
