.banner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100hv;
}

.text-position {
  position: absolute;
  top: 70px;
  left: 60px;
  font-family: "Calibri-Bold", sans-serif;
  font-size: clamp(2.5rem, 3.5vw, 2.8rem);
  letter-spacing: 1px;
  animation: appearButtons 3s ease forwards;
}
.arrow-position {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 15px;
  cursor: pointer;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  background-color: white;
  border: solid 2px black;
  animation: appearButtons 3s ease forwards;
  box-shadow: none;
}
.filter-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 15px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: none;
  // padding: 7px 5px;
  cursor: pointer;
  background-color: #595959;
  box-shadow: none !important;
  animation: appearButtons 3s ease forwards;
}

.hover-effect:hover {
  // box-shadow: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.svg-filter {
  // background-color: red;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: #595959;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.filter-dropdown {
  z-index: 2;
  // background-color: red;
}
.filter-dropdown a {
  color: black;
  // text-align: center;
  font-family: "Calibri-Bold", sans-serif;
  font-size: 18px;
  white-space: nowrap; /* Prevent line breaks */
  text-decoration: none;
}

.banner-button {
  // background-color: white;
  background-color: white;
  margin-top: 120px;
  // padding: 0;
  text-align: center;
  height: 60px;
  width: 220px;
  border: 2px solid;
  border-radius: 50px;
  font-family: "Calibri-Bold", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: clamp(2.6rem, 3.5vw, 2.9rem);

  white-space: normal; /* Allow text to wrap */
  box-shadow: none;
  pointer-events: none;
  animation: appearButtons 3s ease forwards;
}

.banner-button:hover {
  background-color: white !important; /* Change to white when hovered */
}

@keyframes appearButtons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.grid-container {
  margin-top: 208px;
  display: grid;
  position: absolute;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  row-gap: 30px;
  column-gap: 15px;
  // margin-top: -75px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0;
  animation: appearButtons 3s ease forwards;
  animation-delay: 2s;
  padding-bottom: 15px;
}

.grid-button {
  white-space: normal;
  word-wrap: break-word;
  // font-family: "Raleway", sans-serif;
  font-family: "Calibri-Bold", sans-serif;
  // font-size: 20px;
  font-size: clamp(2.1rem, 3.5vw, 2.4rem);
  font-weight: bold;
  padding: 20px 15px;
  width: auto;
  background: white;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: black;
  border-color: black;
}
.grid-button:hover {
  background: black;
  color: white;
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  // .banner-button {
  //   font-size: 26px;
  // }
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    // margin-left: 15px;
    // margin-right: 15px;
    column-gap: 10px;
  }

  .grid-button {
    // font-size: 16px;
    padding: 12px 8px;
    height: 80px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1180px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 15px;
  }
}
