.banner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: appearButtons 3s ease forwards;
}

.arrow-position {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 15px;
  cursor: pointer;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  background-color: white;
  border: solid 2px black;
  box-shadow: none;
}

.filter-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 15px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: none;
  // padding: 7px 5px;
  cursor: pointer;
  background-color: #595959;
  box-shadow: none !important;
}

.hover-effect:hover {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.svg-filter {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: #595959;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.filter-dropdown {
  z-index: 2;
}
.filter-dropdown a {
  color: black;
  font-family: "Calibri-Bold", sans-serif;
  font-size: 18px;
  white-space: nowrap;
  text-decoration: none;
}

@keyframes appearButtons {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.banner-button {
  background-color: white;
  max-width: 30rem;
  width: 100%;
  margin-top: 120px;
  height: 75px;
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 4px;
  padding-left: 15px;
  border: 2px solid;
  border-radius: 50px;
  //   padding: 1.5rem;
  margin-bottom: 4rem;
  box-shadow: none;
  font-family: "Calibri-Bold", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: clamp(2.6rem, 3.5vw, 2.9rem);
  white-space: normal;
  overflow: hidden;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .banner-button {
    // width: 80%;
    max-width: 25rem;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
